{% extends 'base.html' %}

{% block content %}

<section class="section-padding pb-0" id="reviews">

    <div class="container">

        <div class="row">

            <div class="col-12">
                <h2 class="text-center mb-lg-5 mb-4">Our Patients</h2>
                <div class="owl-carousel reviews-carousel">
                    {% for i in tests %}

                    <figure class="reviews-thumb d-flex flex-wrap align-items-center rounded">
                        <div class="reviews-stars">
                            <i class="bi-star-fill"></i>
                            <i class="bi-star-fill"></i>
                            <i class="bi-star-fill"></i>
                            <i class="bi-star-fill"></i>
                            <i class="bi-star"></i>
                        </div>

                        <p class="text-primary d-block mt-2 mb-0 w-100"><strong>{{ i.title }}</strong></p>

                        <p class="reviews-text w-100">{{ i.about }}</p>

                        <img src="{{ i.img.url }}" class="img-fluid reviews-image" alt="">

                        <figcaption class="ms-4">
                            <strong>{{ i.name }}</strong>

                            <span class="text-muted">{{ i.surname }}</span>
                        </figcaption>
                    </figure>
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>

</section>


{% endblock %}